@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
}

@layer base {
  html {
    font-family: Inria Serif, system-ui, sans-serif;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}

.map-container {
  width: 100%;
  height: 240px;
}

.map-container-sm {
  width: 100%;
  height: 480px;
}

.service-gradient-container {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(82, 82, 82, 0.85) 57%, rgba(82, 82, 82, 0.95) 95%);
}
